.banner-container {
  padding: 0.05rem 0;
  .banner-child-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-image: url("../assets/yugioh.jpg");
    background-size: 20%;
    height: 11.5rem;
    .banner-img-container {
      height: 11.5rem;
      width: 8rem;
    }
  }
}
