.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 5rem;
  background-color: black;
}

.header-img {
  display: flex;
  justify-content: flex-start;
  margin-left: 1rem;
  width: 8rem;
  height: 3rem;
}

.header-child-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 30%;
}

.header-text-area {
  color: white;
  text-align: center;
  text-shadow: -3px -3px 2px rgba(147, 147, 147, 1); 
}