.home-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 47rem;
  padding: 5rem 0 2rem 0;
  background-image: url(../assets/egyptiangods.jpg);
  background-size: 100% 100%;
  .link-content {
    text-decoration: none;
    text-align: center;
    width: 11rem;
    height: 18rem;
    background-image: url(../assets/yugioh1.webp);
    background-size: 100% 100%;
    border-radius: 5px;
    color: white;
    text-shadow: -3px -3px 2px rgba(147, 147, 147, 1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow: 11px 10px 14px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 11px 10px 14px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 11px 10px 14px 0px rgba(0, 0, 0, 0.75);
    transition: transform 1s, filter 1s ease-in-out;
    filter: blur(2px);
    transform: scale(0.8);
    filter: brightness(70%);
    &:hover {
      transform: scale(1);
      filter: brightness(150%);
    }
  }
}
