.mapped-cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20rem;
  height: 37rem;
  // border: 5px solid red;
  margin: 0.5rem;
//   backdrop-filter: blur(0.5rem);
background: rgba(255, 255, 255, 0.38);
border-radius: 4px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(6.9px);
-webkit-backdrop-filter: blur(6.9px);
border: 1px solid rgba(255, 255, 255, 0.25);
}

.map-cards-image {
//   border: 3px solid pink;
  width: 18rem;
  height: 30rem;
  box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
}

.mapped-cards-names {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.5rem;
  width: 19rem;
  height: 5rem;
  color: black;
}
