.mapped-cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // width: 20rem;
  // height: 32rem;
  // margin: 0.5rem;
  // border-radius: 5px;
  // -webkit-box-shadow: 0 0 5px 2px #fff;
  // -moz-box-shadow: 0 0 5px 2px #fff;
  // box-shadow: 0 0 15px 10px #fff;
  .map-cards-image {
    width: 18rem;
    height: 30rem;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 5px 2px #f0f0f0;
    -moz-box-shadow: 0 0 5px 2px #f0f0f0;
    box-shadow: 0 0 20px 10px #f0f0f0;
    margin: 2rem 2rem;
  }
}