.rendered-mapped-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-image: url(../assets/mappedCardsBackground.jpg);
    background-size: contain;
    background-attachment: fixed;
}