.rendered-mapped-cards-container {
  background-image: url(../assets/mappedCardsBackground.jpg);
  background-attachment: fixed;
}

.rendered-mapped-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  border-radius: 0.2rem;
  backdrop-filter: blur(4px);
}

.pagination {
  backdrop-filter: blur(4px);
  height: 10rem;
  padding-top: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.ant-pagination-options-quick-jumper {
  font-size: 1.2rem;
}