.rendered-mapped-cards-container {
  background-image: url(../assets/mappedCardsBackground.jpg);
  // background-color: #555;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  backdrop-filter: blur(4px);
}

.rendered-mapped-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  border-radius: 0.2rem;
}

.pagination {
  height: 10rem;
  padding-top: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.ant-pagination-options-quick-jumper {
  font-size: 1.2rem;
}

.filter-input-area {
  background-image: url(../assets/search-icon.svg);
  background-repeat: no-repeat;
  background-position: 10px;
  background-size: 40px 40px;
  margin: 2rem;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: -2px -2px 5px 0px rgba(0, 0, 0, 0.75) inset;
  -webkit-box-shadow: -2px -2px 5px 0px rgba(0, 0, 0, 0.75) inset;
  -moz-box-shadow: -2px -2px 5px 0px rgba(0, 0, 0, 0.75) inset;
  outline: none;
  color: #555;
  font-size: 14px;
  height: 50px;
  padding: 6px 12px 6px 60px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 30%;
}
