.searchbar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.searchbar-input-area {
  background-color: #fff;
  border: 1px solid #ccc;
  background-image: url(../assets/search-icon.svg);
  background-repeat: no-repeat;
  background-position: 10px;
  background-size: 30px 30px;
  border-radius: 4px;
  box-shadow: -2px -2px 5px 0px rgba(0, 0, 0, 0.75) inset;
  -webkit-box-shadow: -2px -2px 5px 0px rgba(0, 0, 0, 0.75) inset;
  -moz-box-shadow: -2px -2px 5px 0px rgba(0, 0, 0, 0.75) inset;
  outline: none;
  color: #555;
  display: block;
  font-size: 14px;
  height: 40px;
  padding: 6px 12px 6px 50px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 50%;
}
